@import './src/common/styles/sass/variables';

.projectsBlock {
  height: max-content;
  background-color: $FirstBlackColor;
  padding: 40px 0;

  .container {
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    h4, p {
      color: $SecondWhiteColor;

    }

    .projects {
      width: 100%;
      height: max-content;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 20px;


    }
  }

}

