@import './src/common/styles/sass/variables';

.projectsBlock {
  height: max-content;
  background-color: $FirstColor;


  .container {
    min-height: 600px;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    h4, p {
      color: $ThirdColor;
    }


    .projects {
      width: 100%;
      height: max-content;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;


    }
  }

}

