@import './src/common/styles/sass/variables';
.header {

    background-color: $FirstWhiteColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 100500;
    opacity: 0.95;
    left: 0;
    right: 0;
    @media screen and(min-width:400px ){
opacity: 100;

    }
}
