@import './src/common/styles/sass/variables';
.header {
    height: 80px;
    padding: 40px 0;
    background-color: $SecondColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 100500;
    opacity: 0.9;
    left: 0;
    right: 0;
}