.remoteJobBlock {
  width: 100%;
  height: 30vh;
  background-color: #aadebb;

  .container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .insideWrapper {
      min-width: 400px;
      height: 150px;
      border: 1px solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 600px) {
        min-width: 350px;
      }

      @media screen and (max-width: 450px) {
        min-width: 260px;
      }

      .askToDeploy {
        background-color: #a8adb4;
      }

      .button {
        background-color: #a8adb4;
      }
    }
  }
}







