@import './src/common/styles/sass/variables';
.block {
  background-color: $FirstWhiteColor;
  padding: 40px 0;

  .container {
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;


    .chart {

    }
  }
}


