@import './src/common/styles/sass/variables';
.titleOdd {

  h4 {
    color: $FirstWhiteColor;
  }
  position: relative;
  margin-bottom: 30px;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    width: 50px;
    height: 2px;
    background-color: $FirstWhiteColor;
  }



}

.titleEven {
  position: relative;
  margin-bottom: 30px;
  h4 { color: $FirstBlackColor;}
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    width: 50px;
    height: 2px;
    background-color: $FirstBlackColor;
  }
}
