@import './src/common/styles/sass/variables';
.titleOdd {
  h4 {
    color: $SecondColor;
  }
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    width: 50px;
    height: 2px;
    background-color:$SecondColor;
  }



}

.titleEven {
  position: relative;
  h4 { color:  $FirstColor;}
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    width: 50px;
    height: 2px;
    background-color:  $FirstColor;
  }
}