.project {
    background-color: #b262ba;
    width: 300px;

}
.image {
    background-color: #bab8b8;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    text-transform: capitalize;
    background-color: #500e57;
    color: white;
}
.descriptionBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}