.skillsBlock  {
    background-color: #cbdcd4;
}
.skillsContainer {
    min-height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}
.title{
    background-color: #b3b8c1;
}
.skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    justify-content: space-evenly;

}
