.skillsBlock  {
    height: 60vh;
    background-color: #cbdcd4;
}
.skillsContainer {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}
.title{
    background-color: #b3b8c1;
}
.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}