@import '../common/styles/sass/variables';
.mainBlock {
   min-height: 100vh;
    background-color: $FirstColor;
    .particles {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.6;
    }
    .container {
        justify-content: space-evenly;
        .textBlock {
            width: 550px;
            height: max-content;
            min-height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            letter-spacing: 1px;
            line-height: 22pt;

            h1,span, h3{
                color: $ThirdColor;
                font-weight: 100;
                letter-spacing: 2pt;
                font-size: 9pt;
            }
            h1 {
                font-family: $fontMainTitle;
                font-weight: bold;
                font-size: 25pt;
                word-spacing: 15px;
            }
    }

    }
    .photoBlock {
        width: 200px;
        height: 70vh;
        background-color: $SecondColor;
        opacity: 0.2;
        position: relative;
        right: 50px;
    }
}

