@import '../src/common/styles/sass/variables';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $fontMainTitle;


  .App {
    text-align: start;
    > div {
      &:nth-child(n) {
        background-color: $SecondColor;;
      }
      &:nth-child(2n) {
        background-color:$FirstColor;
      }
    }

  }

  h2 {
    margin: 20px 0;
  }

  h3 {
    margin: 20px 0;
  }
  h4 {
    font-family: $fontMainTitle;
    text-transform: uppercase;
    font-size: 10pt;
    margin: 1.33em 0;
    text-align: center;
    font-weight: 600;
    letter-spacing: 7pt;
  }


  a {
  }
  p {
    font-family: $fontParagraph;
    margin-top: 10px;
    font-size: 10pt;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 15pt;


  }

}
