$FirstBlackColor: #222223;
$FirstWhiteColor: #f5f7fc;
$SecondWhiteColor: #dcdcdc;
$FirstGreyColor: #898989;
$SecondBlackColor: #202326;

$fontMainTitle: 'Montserrat', sans-serif;
$fontParagraph: 'Roboto', sans-serif;