$FirstColor: #1a1d1f;
$SecondColor: #ffffff;
$ThirdColor: #dcdcdc;
$FourColor:#898989;
$BlueColor: rgba(118, 131, 172, 0.31);

$fontMainTitle: 'Montserrat', sans-serif;
$fontParagraph: 'Roboto', sans-serif;