@import './src/common/styles/sass/variables';

.footerFrame {
  background-color: $SecondColor;
  padding: 40px 0;
  color: $FourColor;
  min-height: 150px;
  display: flex;
  align-items: center;

  .container {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      margin: 0;
      h4 {
      }
    }

    .insideContainer {

      display: flex;
      flex-direction: row;

      .first {
        width: 30px;
        height: 30px;
        background-color: $SecondColor;
      }

      .second {
        width: 30px;
        height: 30px;
        background-color: $FirstColor;
      }

    }

    .lowSpan {
color: $FirstColor;

    }
  }
}


